<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
	layout:decorate="~{layout}"
>
	<head>
		<title th:text="${title} ?: 'Products'">Products</title>
	</head>
	<body>
		<section layout:fragment="content">
			<h1>Products List</h1>

			<div>
				<a
					th:href="@{/products/add}"
					class="btn btn-primary mb-3"
					>Add New Product</a
				>
			</div>

			<table class="table table-bordered table-hover">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Image</th>
						<th>Category Name</th>
						<th>Hide</th>
						<th>Img1</th>
						<th>Actions</th>
						<th>Add To Cart</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.id}"></td>
						<td th:text="${product.name}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.quantity}"></td>
						<td th:if="${product.img1 != null}">
							<img
								th:src="${product.img1}"
								th:alt="${product.name}"
								width="50"
								height="50"
							/>
						</td>
						<td th:if="${product.img1 == null}">No Image</td>
						<td th:text="${product.category.name}"></td>
						<td th:text="${product.hide}"></td>
						<td>
							<!-- Hiển thị nút sửa và xóa chỉ dành cho người dùng ADMIN -->
							<div sec:authorize="hasAuthority('ADMIN')">
								<a
									th:href="@{/products/edit/{id}(id=${product.id})}"
									class="btn btn-success btn-sm"
									>Sửa</a
								>
								<a
									th:href="@{/products/delete/{id}(id=${product.id})}"
									class="btn btn-danger btn-sm"
									onclick="return confirm('Bạn có chắc không?')"
									>Xóa</a
								>
							</div>
						</td>
						<td>
							<form
								th:action="@{/cart/add}"
								method="post"
								sec:authorize="isAuthenticated()"
							>
								>
								<input
									type="number"
									name="quantity"
									min="1"
									value="1"
									class="form-control d-inline-block"
									style="width: 70px"
								/>
								<input
									type="hidden"
									th:value="${product.id}"
									name="productId"
								/>
							</form>
						</td>
						<td>
							<form
								th:action="@{/cart/add}"
								method="post"
							>
								<input
									type="number"
									name="quantity"
									min="1"
									th:max="${product.quantity}"
									value="1"
									class="form-control d-inline-block"
									style="width: 70px"
								/>
								<input
									type="hidden"
									th:value="${product.id}"
									name="productId"
								/>
								<button
									type="submit"
									class="btn btn-warning btn-sm"
								>
									Add to Cart
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</body>
</html>
