<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title th:text="${title} ?: 'Your Cart'">Your Cart</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<section
			layout:fragment="content"
			class="container mt-3"
		>
			<h1>Your Cart</h1>
			<div
				th:if="${cartItems.isEmpty()}"
				class="alert alert-info"
			>
				Your cart is empty.
			</div>
			<table
				class="table"
				th:unless="${cartItems.isEmpty()}"
			>
				<thead class="table-light">
					<tr>
						<th>Product Name</th>
						<th>Quantity</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${cartItems}">
						<td th:text="${item.product.name}"></td>
						<td th:text="${item.quantity}"></td>
						<td class="d-flex h-100 gap-2">
							<span
								th:if="${error}"
								th:text="${error}"
								>Error</span
							>
							<form
								th:action="@{/cart/update}"
								method="post"
								style="width: 34px"
							>
								<input
									type="hidden"
									name="quantity"
									th:value="${item.quantity - 1}"
									class="form-control d-inline-block"
								/>
								<input
									type="hidden"
									th:value="${item.product.id}"
									name="productId"
								/>
								<button
									type="submit"
									class="btn btn-warning btn-sm h-100"
									style="aspect-ratio: 1/1"
									th:disabled="${item.quantity - 1 < 1}"
								>
									-1
								</button>
							</form>
							<form
								th:action="@{/cart/update}"
								method="post"
							>
								<input
									oninput="this.value = Math.round(this.value);"
									onchange="this.value = Math.round(this.value);this.form.submit()"
									type="number"
									name="quantity"
									step="1"
									min="0"
									th:max="${item.product.quantity}"
									th:value="${item.quantity}"
									class="form-control d-inline-block"
									pattern="\d*"
								/>
								<input
									type="hidden"
									th:value="${item.product.id}"
									name="productId"
								/>
							</form>
							<form
								th:action="@{/cart/update}"
								method="post"
								class="d-flex h-full"
								style="width: 34px"
							>
								<input
									type="hidden"
									name="quantity"
									th:value="${item.quantity + 1}"
									class="form-control d-inline-block"
								/>
								<input
									type="hidden"
									th:value="${item.product.id}"
									name="productId"
								/>
								<button
									type="submit"
									class="btn btn-warning btn-sm h-full"
									style="aspect-ratio: 1/1"
									th:disabled="${item.quantity + 1 > item.product.quantity}"
								>
									+1
								</button>
							</form>
							<a
								th:href="@{/cart/remove/{productId}(productId=${item.product.id})}"
								class="btn btn-danger btn-sm d-flex justify-content-center align-items-center"
								>Remove</a
							>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				Total price:
				<span th:text="${totalPrice}"></span>
			</div>
			<div class="mt-3 d-flex align-items-center">
				<a
					th:href="@{/cart/clear}"
					class="btn btn-secondary"
					>Clear Cart</a
				>
				|
				<a
					th:href="@{/order/checkout}"
					class="btn btn-primary"
					>Check Out</a
				>
			</div>
		</section>
	</body>
</html>
